.move-button {
	width: 200px;
	margin-bottom: 10px;
	border-width: 0;
	border-radius: 5px;
	padding: 10px 20px;
	background-color: #27ae60;
	font-weight: 200;
	color: #fff;
}
.game {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.game-info {
	width: 100%;
	margin-top: 16px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.status {
	margin-bottom: 10px;
}
